body {
    margin: auto;
    justify-items: center;
}

.container {
    margin: 0;
    padding: 0;
    height: 960px;
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
}

button {
    display: block;
    width: 200px;
    padding: 1rem;
    margin: 3rem auto;
    border: none;
    border-radius: 5px;
    background-color: #4b7cc4;
    color: white;
    cursor: pointer;
    font-size: 2rem;
}

button:hover {
    background-color: #5b97f8;
}